<section class="container-fluid small bg-secondary section-numbers">
  <div class="col col-3">
    <div class="col-3-1">
      <h2>23</h2>
      <h3>Clients<br>Satisfaits</h3>
    </div>
    <div id="col-3-2">
      <h2>+7</h2>
      <h3>Années<br>D'experiences</h3>
    </div>
    <div id="col-3-3">
      <h2>16000</h2>
      <h3>Utilisateurs<br>Par mois</h3>
    </div>
  </div>
</section>
