<section class="container-fluid bg-secondary">
    <h2>PROJETS</h2>
    <div class="col col-3 projets-grid">
      <div class="grid-image" style="background-image: url(./assets/images/c1.jpg);">
      </div>
      <div class="grid-image" style="background-image: url(./assets/images/c2.jpg);">
      </div>
      <div class="grid-image" style="background-image: url(./assets/images/c3.jpg);">
      </div>
      <div class="grid-image" style="background-image: url(./assets/images/c2.jpg);">
      </div>
      <div class="grid-image" style="background-image: url(./assets/images/c1.jpg);">
      </div>
      <div class="grid-image" style="background-image: url(./assets/images/c3.jpg);">
      </div>
    </div>
</section>
