<section class="container-fluid bg-secondary">
    <h2>PROJETS</h2>
    <div class="col col-3 row-2 projets-grid">
      <div class="grid-image">
        <img src="./assets/images/c1.jpg" alt="c1">
      </div>
      <div class="grid-image">
        <img src="./assets/images/c2.jpg" alt="c2" id="c2">
      </div>
      <div class="grid-image">
        <img src="./assets/images/c3.jpg" alt="c3" id="c3">
      </div>
      <div class="grid-image">
        <img src="./assets/images/c2.jpg" alt="c2" id="c2">
      </div>
      <div class="grid-image">
        <img src="./assets/images/c3.jpg" alt="c3" id="c3">
      </div>
      <div class="grid-image">
        <img src="./assets/images/c1.jpg" alt="c1">
      </div>

    </div>
</section>
