<!DOCTYPE html>
<html lang="en">

<head>
  <% pageTitle = 'About' %>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>

  <div class="containe">
    <div class="row">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti dicta obcaecati nesciunt quae enim ratione exercitationem pariatur quaerat. Modi molestiae nesciunt officia qui dignissimos aut recusandae totam corporis consequatur exercitationem.</p>
    </div>
  </div>
</body>
<% include partials/script %>

</html>