<!DOCTYPE html>
<html lang="en">

<head>
  <% pageTitle = 'home' %>
  <% include partials/head %>
</head>

<body>
  <main>
    <% include partials/menu %>

    <% carouselItems = [
      {
        image: './assets/images/c1.jpg',
        color: '#FAAA31'
      },
      {
        image: './assets/images/c2.jpg',
        color: '#565251'
      },
      {
        image: './assets/images/c3.jpg',
        color: '#68CCD1'
      },
    ] %>

    <% include sections/header %>

    <% include sections/about %>

    <% include sections/numbers %>

    <% include sections/services %>

    <% include sections/projets %>

    <% include sections/crew %>
  </main>
</body>
<% include partials/script %>

</html>
